h1 {
    background-color: springgreen;
    color: black;
}

.ixt {
    background-color: purple;
    color: peru;
}

h2 {
    background-color: burlywood;
    color: azure;
}

#pxe {
    background-color: beige;
    color: seagreen;
}